<p id="notice"><%= notice %></p>

<p>
  <strong>To address:</strong>
  <%= @ripple_transaction.to_address %>
</p>

<p>
  <strong>From address:</strong>
  <%= @ripple_transaction.from_address %>
</p>

<p>
  <strong>To amount:</strong>
  <%= @ripple_transaction.to_amount %>
</p>

<p>
  <strong>From amount:</strong>
  <%= @ripple_transaction.from_amount %>
</p>

<p>
  <strong>To currency:</strong>
  <%= @ripple_transaction.to_currency %>
</p>

<p>
  <strong>From currency:</strong>
  <%= @ripple_transaction.from_currency %>
</p>

<p>
  <strong>To issuer:</strong>
  <%= @ripple_transaction.to_issuer %>
</p>

<p>
  <strong>From issuer:</strong>
  <%= @ripple_transaction.from_issuer %>
</p>

<p>
  <strong>Transaction state:</strong>
  <%= @ripple_transaction.transaction_state %>
</p>

<p>
  <strong>Transaction hash:</strong>
  <%= @ripple_transaction.transaction_hash %>
</p>

<p>
  <strong>State:</strong>
  <%= @ripple_transaction.state %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @ripple_transaction.uid %>
</p>

<p>
  <strong>Data:</strong>
  <%= @ripple_transaction.data %>
</p>

<%= link_to 'Edit', edit_ripple_transaction_path(@ripple_transaction) %> |
<%= link_to 'Back', ripple_transactions_path %>
